.hero-section__content {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  gap: 16px;
  flex-direction: column;
}

.hero-section__title {
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: #595c5b87;
  text-indent: 3px;
}

.hero-section__title::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: -50px;
  padding: 50px 0;
  min-height: 8.5rem;
  background-image: linear-gradient(
    90deg,
    var(--text) 0%,
    var(--text) 6.6%,
    var(--text) 13.29%,
    var(--text) 74.3%,
    var(--text) 87.15%,
    var(--text) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  background-size: 30%;
  animation: fillTitle 0.5s linear forwards 1s;
}

.hero-section__title .typewrite-animation__cursor {
  display: inline-block;
  position: absolute;
  background-color: var(--selection);
  transform: translateX(5px);
  height: 3rem;
  width: 5px;
  opacity: 0;
}

.hero-section__title .typewrite-animation__cursor.is-animating {
  animation: cursor 1.8s linear;
}

@media (min-width: 640px) {
  .hero-section__title .typewrite-animation__cursor {
    height: 4.5rem;
  }
}

@media (min-width: 768px) {
  .hero-section__title .typewrite-animation__cursor {
    height: 6rem;
  }
}

@media (min-width: 1280px) {
  .hero-section__title .typewrite-animation__cursor {
    height: 8rem;
  }
}

.hero-section__subtitle {
  max-width: 850px;
  line-height: 2rem;
  margin: 0;
  opacity: 0;
  transform: translateY(24px);
  animation: slideIn 0.5s cubic-bezier(0, 0, 0.35, 1) 3.5s forwards;
}

@media (min-width: 640px) {
  .hero-section__subtitle {
    line-height: 3rem;
  }
}

@media (min-width: 768px) {
  .hero-section__subtitle {
    line-height: 4rem;
  }
}

@media (min-width: 1280px) {
  .hero-section__subtitle {
    line-height: 5rem;
  }
}

.hero-section__link {
  opacity: 0;
  transform: translateY(24px);
  animation: slideIn 0.5s cubic-bezier(0, 0, 0.35, 1) 4.5s forwards;
}

.hero-section__subtitle-highlight {
  display: inline-block;
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: var(--text);
  color: transparent;
  background-size: 20% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: lightRay 1.2s linear 5s;
  opacity: 80%;
}

.hero-section__subtitle-selection {
  content: '';
  position: absolute;
  background-color: var(--selection);
  mix-blend-mode: difference;
  height: 2rem;
  width: 0;
  animation:
    subtitleHighLightIn 0.75s cubic-bezier(0.55, 0, 0.35, 1) 5s forwards,
    subtitleHighLightOut 0.5s cubic-bezier(0.55, 0, 0.35, 1) 7s forwards;
}

.hero-section__subtitle-selection::before {
  content: '';
  height: calc(2rem + 10px);
  position: absolute;
  width: 2px;
  background-color: transparent;
  top: -10px;
  left: -1px;
  animation: subtitleCursor 2.5s linear 5s;
}

.hero-section__subtitle-selection::after {
  content: '';
  height: calc(2rem + 10px);
  position: absolute;
  width: 2px;
  background-color: transparent;
  top: 0;
  right: 0;
  animation: subtitleCursor 2.5s linear 5s;
}

@media (min-width: 640px) {
  .hero-section__subtitle-selection {
    height: 3rem;
  }
  .hero-section__subtitle-selection::before,
  .hero-section__subtitle-selection::after {
    height: calc(3rem + 10px);
  }
}

@media (min-width: 768px) {
  .hero-section__subtitle-selection {
    height: 4rem;
  }
  .hero-section__subtitle-selection::before,
  .hero-section__subtitle-selection::after {
    height: calc(4rem + 10px);
  }
}

@media (min-width: 1280px) {
  .hero-section__subtitle-selection {
    height: 5rem;
  }
  .hero-section__subtitle-selection::before,
  .hero-section__subtitle-selection::after {
    height: calc(5rem + 10px);
  }
}

@keyframes typing {
  0% {
    width: 464px;
  }

  100% {
    width: 1095px;
  }
}

@keyframes fillTitle {
  from {
    opacity: 0;
    background-size: 30%;
  }

  to {
    opacity: 1;
    background-size: 160%;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(24px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes lightRay {
  from {
    background-position: -40%;
    background-image: linear-gradient(90deg, #ffffff 0%, #863da9 15%, #863da9 75%, #ffffff 100%);
  }

  to {
    background-position: 140%;
    background-image: linear-gradient(90deg, #ffffff 0%, #863da9 15%, #863da9 75%, #ffffff 100%);
  }
}

@keyframes subtitleHighLightIn {
  from {
    width: 0;
    left: 0;
  }

  to {
    width: 100%;
    left: 0;
  }
}

@keyframes subtitleHighLightOut {
  from {
    width: 100%;
    left: auto;
    right: 0;
  }

  to {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes subtitleCursor {
  0% {
    background-color: transparent;
  }

  5% {
    background-color: var(--selection);
  }

  95% {
    background-color: var(--selection);
  }

  100% {
    background-color: transparent;
  }
}
